/* regole di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header{
    background-color: white;
}
.title{
    display: inline-block;
    
}

body{
    background-color: lightgrey;
}

.container{
    margin: 0 auto;
    background-color: white;
    max-width: 900px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 2%;
}

nav{
    border-bottom: 1px solid;
    padding: 10px;
    border-color: lightgrey;
}
button{
    font-size: 11px;
    padding: 4px;
    border-radius: 10%;

}

#buttblue{
    color: white;
    background-color: lightskyblue;
    border: none;
}

#buttgrey{
    color: lightgrey;
    background-color: white;
    border-color: lightgrey;
    border: 1px solid;
}

section{
    line-height: 35px;
}

p{
    font-family: verdana;
    font-size: 14px;
}

.color{
    font-size: 10px;
    color: white;
    padding: 5px;
    border-radius: 30%;
}

.blu{
    background-color: blue;
}

.violet{
    background-color: violet;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.rose{
    background-color: rosybrown;
}